

table {
    background-color: green;
    

}
td {
    
    height:50px;
    width: 50px;
    max-height: 100px;
    max-width: 100px;
   
    

}
.whiteSquare {
    background-color: white;
}

.opponentPiece ,.playerPiece, .kingPiece {
    height: 40px;
    width: 40px;
    display: block;
    border-radius: 50%;
    margin-left: 5px;
}
.opponentPiece {
    background-color: black;
    color: white;
}

.playerPiece {
    background-color: red;
}

.kingPiece {
    background-image: "https://cdn4.iconfinder.com/data/icons/devices-gaming/24/crown-512.png"("kingCrown.gif");
    background-color: gold;
    border: red;
    
}